.reg-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 20%;
    bottom: 20%;
    left: 25%;
    right: 25%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.form-group {
    width: 270px;
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
.usernameReg {
    font-size: 20px;
}
.passwordReg {
    margin-top: 50px;
    font-size: 20px;
}
input[type="password"]{
    font-size: 18px;
    width: 90%;
    height: 25px;
    padding: 8px;
    border: 1px solid #ccc;
    transition: border 0.5s;
    border-radius: 4px;
}
input[type="text"]{
    font-size: 18px;
    width: 90%;
    height: 25px;
    padding: 8px;
    border: 1px solid #ccc;
    transition: border 0.5s;
    border-radius: 4px;
}
.buttonReg {
    width: 97%;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
    background: #c3dae3;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background: #b6ccd4;
}
.errorUsername {
    visibility: hidden;
    position: absolute;
    transition: visibility 0.5s;
    background: aquamarine;
}
.errorPassword {
    visibility: hidden;
    position: absolute;
    transition: visibility 0.5s;
    background: aquamarine;
}