.SignIn {
    color: black;
    font-size: 40px;
    position: absolute;
    display: flex;
    height: 70px;
    top: 4.5%;
    right: 3%;
    width: 190px;
    align-items: center;
    justify-content: center;
    background: #dbf5fe;
    border-radius: 64px;
    user-select: none;
    transition: box-shadow .3s;
    float: left;
}
.SignIn:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}